# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Library/PlayerDataCache/Win/Data/
# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

Temp/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Build/SneakyLee_Data/sharedassets0.assets.resS
Build/SneakyLee_Data/sharedassets0.assets.resS
