# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

Library/PlayerDataCache/Win/Data/
# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

Build/
Temp/
Logs/
obj/
.vs/
[lL]ibrary/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta

sysinfo.txt
# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================